[Desktop Entry]
Comment=Nord-Solid-Global Look And Feel
Name=Nord-Solid-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Nord-Solid-Global
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1533589,kns://colorschemes.knsrc/api.kde-look.org/1533588,kns://plasma-themes.knsrc/api.kde-look.org/1533596,kns://plasma-themes.knsrc/api.kde-look.org/1533599,kns://aurorae.knsrc/api.kde-look.org/1533587,kns://aurorae.knsrc/api.kde-look.org/1533586,kns://icons.knsrc/api.kde-look.org/1533591,kns://icons.knsrc/api.kde-look.org/1533590,kns://icons.knsrc/api.kde-look.org/1281798,kns://icons.knsrc/api.kde-look.org/1298508,kns://wallpaper.knsrc/api.kde-look.org/1533565,kns://wallpaper.knsrc/api.kde-look.org/1533569,kns://wallpaper.knsrc/api.kde-look.org/1533571,kns://wallpaper.knsrc/api.kde-look.org/1509888,kns://sddmtheme.knsrc/api.kde-look.org/1533585
